BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: false
BreakBeforeBraces: Attach
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
