# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build directories
/build/
/build-*/

# cahce files from python
__pycache__/
*.pyc
*.pyo

# Benchmark results
benchmark/KernelBench/results/*

# Toochains
riscv-tools-*/

# Ignore compilation phases and report
compilation_phases_*
report_pt_export
compiled_models
phases*
compilation*

# Temporary files
tmp/*
.vscode/

# Ignore models if they can get compiled
*.onnx
*.onnx.data
samples/models/*.mlir
*.vmfb

# quantize test models and export
quantize_test_export
pretrained_models

