# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build directories
/build/
/build-*/
/site/
/docs/reference/generated/

# cahce files from python
__pycache__/
*.pyc
*.pyo

# Benchmark results
benchmark/KernelBench/results/*
benchmark/KernelBench/report/*
!benchmark/KernelBench/report/.gitkeep
benchmark/target/SpacemiTX60/results/*
benchmark/target/SpacemiTX60/artifacts/*
benchmark/target/SpacemiTX60/spacemitx60.env
tutorials/*/artifacts/*

# Toochains
riscv-tools-*/

# Ignore compilation phases and report
compilation_phases_*
report_pt_export
compiled_models
phases*
compilation*

# Temporary files
tmp/*
.vscode/
mlirEvolve/.venv/
mlirEvolve/.pytest_cache/

# Ignore models if they can get compiled
*.onnx
*.onnx.data
samples/models/*.mlir
*.vmfb

# Sample-generated artifacts
samples/custom_dispatch_ukernels_saturn/saturn_test
samples/custom_dispatch_ukernels_saturn/*.npy
benchmarks/SpacemiTX60/baseline_dual_model_async/results/*
compiler/src/merlin/Dialect/Gemmini/Transforms/tests/Output/*
merlin_dev.egg-info/*
