[submodule "third_party/iree_bar"]
	path = third_party/iree_bar
	url = https://github.com/ucb-bar/iree.git
[submodule "third_party/KernelBench"]
	path = third_party/KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench.git
[submodule "models/tinydepth/TinyDepth"]
    path = models/tinydepth/TinyDepth
    url = https://github.com/ZYCheng777/TinyDepth.git
[submodule "models/midas/MiDaS"]
    path = models/midas/MiDaS
    url = https://github.com/isl-org/MiDaS.git
[submodule "models/depth_anything_v2/Depth-Anything-V2"]
    path = models/depth_anything_v2/Depth-Anything-V2
    url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "third_party/iree-turbine"]
	path = third_party/iree-turbine
	url = https://github.com/iree-org/iree-turbine.git
[submodule "third_party/gemmini-mx"]
	path = third_party/gemmini-mx
	url = https://github.com/ucb-bar/gemmini.git
	branch = gemmini-mx
[submodule "third_party/saturn-vectors"]
	path = third_party/saturn-vectors
	url = https://github.com/ucb-bar/saturn-vectors.git
[submodule "third_party/shark_ai"]
	path = third_party/shark_ai
	url = https://github.com/nod-ai/amd-shark-ai/tree/bb82cc932f945ba69ec8ebbf7b3fc8f7370e2b5c
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp/tree/03792ad93609fc67e41041c6347d9aa14e5e0d74
